body{
    background: linear-gradient(180deg,#89df7e,#b1e7a9) fixed;
}
h6{
    font-style: oblique;
}
h1{
    text-shadow: 2px 2px 4px #7a7777;
}
h1,h2,h6{
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}
h3,h5,p{
    font-family: 'PT Sans Narrow', sans-serif;
    color: #42aa35; 
}
p:hover{
        font-display: bold;
        background:  #87d87c;
        cursor:pointer;
}
.title-detail{
    margin-top: 4rem;
}
.row-detail{
    margin-top: 2rem;
    border: 1px solid rgb(201, 197, 197);
    border-radius: 25px;
    background: white;
    padding-top: 1rem;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.start{
    cursor:pointer;
}
