body{
    background: #89df7e;
}
h1,h2,h6{
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}
h3,h5,p{
    font-family: 'PT Sans Narrow', sans-serif;
    color: #42aa35; 
}
p:hover{
        font-display: bold;
        background:  #87d87c;
        cursor:pointer;
}
.title-detail{
    margin-top: 4rem;
}
.row-detail{
    margin-top: 2rem;
    border: 1px solid rgb(201, 197, 197);
    background: white;
    padding-top: 1rem;
}
.start{
    cursor:pointer;
}
